body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.conditions {
  padding: 4px 8px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.condition-button {
  width: 50px;
  height: 50px;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  user-select: none;
}

.condition {
  width: 42px;
  height: 42px;
  transition: all 100ms ease 0s;
}

/* Hollow out the circle when selected */
.selected .condition {
  background: radial-gradient(circle, red, yellow, rgba(0, 0, 0, 0));
}
/*
.condition-button:hover .condition {
  transform: scale(1.15);
}
*/

.selected-icon {
  visibility: hidden;
  height: 46px;
  width: 46px;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 23px;
}

.visible {
  visibility: visible;
}

.condition-name {
  visibility: hidden;
  position: absolute;
  color: white;
  font-size: 8px;
  text-align: center;
  width: 50px;
  height: 50px;
  overflow-wrap: break-word;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  display: flex;
  align-items:center;
  justify-content:center;
}

.search-area {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(34, 37, 49);
  padding: 3px;
  border: 0px none;
  border-radius: 12px;
  height: 32.5px;
}

.lower-flex {
  display: flex;
  height: 200px;
}

.conditions-area {
  height: 100%;
  overflow: hidden;
  width: 200px;
}

.page-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98%;
  width: 20px;
  border-radius: 10px;
  margin-right: 2px;
}

.page-left:hover {
  cursor: pointer;
  background-color: rgb(76, 79, 95);
}

.page-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98%;
  width: 20px;
  border-radius: 10px;
  margin-left: 2px;
}

.page-right:hover {
  cursor: pointer;
  background-color: rgb(76, 79, 95);
}

.page-icon {
  width: 75%;
  pointer-events: none;
}

.disabled .page-icon {
  filter: brightness(0) saturate(100%) invert(16%) sepia(9%) saturate(1936%) hue-rotate(194deg) brightness(93%) contrast(88%);
}

.disabled:hover {
  cursor: unset;
  background-color: rgb(61, 64, 81);
}

input {
  padding: 2.5px 4px 2.5px 6px;
  border: 1px solid rgb(83, 84, 94);
  border-radius: 10px;
  font: inherit;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: rgb(34, 37, 49);
  color: currentcolor;
  width: 100%;
}

input:hover {  
  border: 1px solid;
  border-color: white;
  outline: 0 none;
}

input:focus {  
  border: 1px solid;
  border-color: rgb(187, 153, 255);
  outline: 0 none;
}

.condition-name p {
  margin: 0px;
  background-color: rgba(93, 93, 94, 0.9);
  width: 46px;
  padding: 2px;
  border-radius: 50px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.00938em;
  text-overflow: hidden;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.2s;
}

.condition-name:hover p {
  visibility: visible;
  opacity: 1;
}